[package]
name = "jpeg-decoder"
version = "0.2.1"
authors = ["The image-rs Developers"]
description = "JPEG decoder"
documentation = "https://docs.rs/jpeg-decoder"
repository = "https://github.com/image-rs/jpeg-decoder"
readme = "README.md"
keywords = ["jpeg", "jpg", "decoder", "image"]
license = "MIT / Apache-2.0"
exclude = ["tests/*"]

[dependencies]
rayon = { version = "1.0", optional = true }

[dev-dependencies]
png = "0.16"
walkdir = "2.0"
criterion = "0.3"

[profile.bench]
debug = true

[profile.release]
debug = true


[[bench]]
name = "decoding_benchmark"
harness = false

[[bench]]
name = "large_image"
harness = false

[features]
default = ["rayon"]
